<div class="city-detail">
  <section class="city-header">
    <h2><%= @city %></h2>
    <h4><%= @status %></h4>
    <h1><%= @currentTemp %></h1>
  </section>

  <section class="today">
    <ul class="today-overview">
      <li><%= @currentDay %></li>
      <li></li>
      <li><%= @currentDayHigh %></li>
      <li><%= @currentDayLow %></li>
    </ul>

    <div class="today-hourly-list-container">
      <ul class="today-hourly-list" style="width: 1536px;">
      <% @hourly_temps %>
        <li>
          <ul>
            <li>Now</li>
            <li><%= @hourly_temps[0] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>9 AM</li>
            <li><%= @hourly_temps[1] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>10 AM</li>
            <li><%= @hourly_temps[2] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>11 AM</li>
            <li><%= @hourly_temps[3] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>12 PM</li>
            <li><%= @hourly_temps[4] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>1 PM</li>
            <li><%= @hourly_temps[5] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>2 PM</li>
            <li><%= @hourly_temps[6] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>3 PM</li>
            <li><%= @hourly_temps[7] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>4 PM</li>
            <li><%= @hourly_temps[8] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>5 PM</li>
            <li><%= @hourly_temps[9] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>6 PM</li>
            <li><%= @hourly_temps[10] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>7 PM</li>
            <li><%= @hourly_temps[11] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>8 PM</li>
            <li><%= @hourly_temps[12] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>9 PM</li>
            <li><%= @hourly_temps[13] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>10 PM</li>
            <li><%= @hourly_temps[14] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>11 PM</li>
            <li><%= @hourly_temps[15] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>12 AM</li>
            <li><%= @hourly_temps[16] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>1 AM</li>
            <li><%= @hourly_temps[17] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>2 AM</li>
            <li><%= @hourly_temps[18] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>3 AM</li>
            <li><%= @hourly_temps[19] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>4 AM</li>
            <li><%= @hourly_temps[20] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>5 AM</li>
            <li><%= @hourly_temps[21] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>6 AM</li>
            <li><%= @hourly_temps[21] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>7 AM</li>
            <li><%= @hourly_temps[22] %></li>
          </ul>
        </li>

        <li>
          <ul>
            <li>8 AM</li>
            <li><%= @hourly_temps[23] %></li>
          </ul>
        </li>
            
      </ul>
    </div>
  </section>

  <section class="forecast">
    <ul class="forecast-list">
      <li>
        <ul>
          <li><%= @currentDay %></li>
          
          <li><%= @currentDayHigh %></li>
          <li><%= @currentDayLow %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Sunday</li>
          
          <li><%= @currentDayHighPlusOne %></li>
          <li><%= @currentDayLowPlusOne %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Monday</li>
          
          <li><%= @currentDayHighPlusTwo %></li>
          <li><%= @currentDayLowPlusTwo %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Tuesday</li>
          
          <li><%= @currentDayHighPlusThree %></li>
          <li><%= @currentDayLowPlusThree %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Wednesday</li>
          
          <li><%= @currentDayHighPlusFour %></li>
          <li><%= @currentDayLowPlusFour %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Thursday</li>

          <li><%= @currentDayHighPlusFive %></li>
          <li><%= @currentDayLowPlusFive %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Friday</li>
          
          <li><%= @currentDayHighPlusSix %></li>
          <li><%= @currentDayLowPlusSix %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Saturday</li>
          
          <li><%= @currentDayHighPlusSeven %></li>
          <li><%= @currentDayLowPlusSeven %></li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="today-details">
    <p class="today-summary">Today: Light rain on Saturday, with temperatures peaking at
    64˚F on Thursday.</p>

    <ul class="today-details-list">
      <li>
        <ul>
          <li>Sunrise:</li>
          <li>7:23 AM</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Sunset:</li>
          <li>5:09 PM</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Chance of Rain:</li>
          <li>0%</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Humidity:</li>
          <li>86%</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Wind:</li>
          <li>1 mph NW</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Feels like:</li>
          <li>49˚</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Precipitation:</li>
          <li>--</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Pressure:</li>
          <li>30 in</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Visibility:</li>
          <li>9.42 mi</li>
        </ul>
      </li>
    </ul>
  </div>
</section>