<div class="city-detail">
  <section class="city-header">
    <h2><%= @city %></h2>
    <h4><%= @status %></h4>
    <h1><%= @currentTemp %>˚</h1>
  </section>

  <section class="today">
    <ul class="today-overview">
      <% @listOfDays %>
      <% @dailyMin %>
      <% @dailyMax %>
      <li><%= @listOfDays[0] %></li>
      <li></li>
      <li><%= @dailyMax[0] %> ˚</li>
      <li><%= @dailyMin[0] %> ˚</li>
    </ul>

    <div class="today-hourly-list-container">
      <ul class="today-hourly-list" style="width: 1536px;">
      <% @hourly_temps %>
      <% @hour_by_hour %>
        <li>
          <ul>
            <li>Now</li>
            <li><%= @hourly_temps[0] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li><%= @hour_by_hour[1] %></li>
            <li><%= @hourly_temps[1] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li><%= @hour_by_hour[2] %><</li>
            <li><%= @hourly_temps[2] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>11 AM</li>
            <li><%= @hourly_temps[3] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>12 PM</li>
            <li><%= @hourly_temps[4] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>1 PM</li>
            <li><%= @hourly_temps[5] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>2 PM</li>
            <li><%= @hourly_temps[6] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>3 PM</li>
            <li><%= @hourly_temps[7] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>4 PM</li>
            <li><%= @hourly_temps[8] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>5 PM</li>
            <li><%= @hourly_temps[9] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>6 PM</li>
            <li><%= @hourly_temps[10] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>7 PM</li>
            <li><%= @hourly_temps[11] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>8 PM</li>
            <li><%= @hourly_temps[12] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>9 PM</li>
            <li><%= @hourly_temps[13] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>10 PM</li>
            <li><%= @hourly_temps[14] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>11 PM</li>
            <li><%= @hourly_temps[15] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>12 AM</li>
            <li><%= @hourly_temps[16] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>1 AM</li>
            <li><%= @hourly_temps[17] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>2 AM</li>
            <li><%= @hourly_temps[18] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>3 AM</li>
            <li><%= @hourly_temps[19] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>4 AM</li>
            <li><%= @hourly_temps[20] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>5 AM</li>
            <li><%= @hourly_temps[21] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>6 AM</li>
            <li><%= @hourly_temps[21] %>˚</li>
          </ul>
        </li>

        <li>
          <ul>
            <li>7 AM</li>
            <li><%= @hourly_temps[22] %>˚</li>
          </ul>
        </li>

      </ul>
    </div>
  </section>

  <section class="forecast">
    <ul class="forecast-list">
      <li>
       <% @listOfDays %>
       <% @dailyMin %>
       <% @dailyMax %>
        <ul>
          <li><%= @listOfDays[0] %></li>
          
          <li><%= @dailyMax[0] %> ˚</li>
          <li><%= @dailyMin[0] %> ˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @listOfDays[1] %></li>
          
          <li><%= @dailyMax[1] %> ˚</li>
          <li><%= @dailyMin[1] %> ˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @listOfDays[2] %></li>
          
          <li><%= @dailyMax[2] %> ˚</li>
          <li><%= @dailyMin[2] %> ˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @listOfDays[3] %></li>
          
          <li><%= @dailyMax[3] %> ˚</li>
          <li><%= @dailyMin[3] %> ˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @listOfDays[4] %></li>
          
          <li><%= @dailyMax[4] %> ˚</li>
          <li><%= @dailyMin[4] %> ˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @listOfDays[5] %></li>

          <li><%= @dailyMax[5] %> ˚</li>
          <li><%= @dailyMin[5] %> ˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @listOfDays[6] %></li>
          
          <li><%= @dailyMax[6] %> ˚</li>
          <li><%= @dailyMin[6] %> ˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= @listOfDays[7] %></li>
          
          <li><%= @dailyMax[7] %> ˚</li>
          <li><%= @dailyMin[7] %> ˚</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="today-details">
    <p class="today-summary">Today: <%= @hourly_summary %></p>

    <ul class="today-details-list">
      <li>
        <ul>
          <li>Sunrise:</li>
          <li><%= @sunriseTime %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Sunset:</li>
          <li><%= @sunsetTime %></li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Chance of Rain:</li>
          <li><%= @precipitationProbability %> %</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Humidity:</li>
          <li><%= @humidity %> %</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Wind:</li>
          <li><%= @wind %> mph</li> <!-- Will need wind direction later! -->
        </ul>
      </li>
      <li>
        <ul>
          <li>Feels like:</li>
          <li><%= @currentWindChill %> ˚</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Precipitation:</li>
          <li><%= @totalPrecipitation %> in</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Pressure:</li>
          <li><%= @pressure %> in</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Visibility:</li>
          <li><%= @visibility %> mi</li>
        </ul>
      </li>
    </ul>
  </div>
</section>